div[data-distance="0"] { --distance: 0; --distance-as-string: "0" }
div[data-distance="1"] { --distance: 1; --distance-as-string: "1" }
div[data-distance="2"] { --distance: 2; --distance-as-string: "2" }
div[data-distance="3"] { --distance: 3; --distance-as-string: "3" }
div[data-distance="4"] { --distance: 4; --distance-as-string: "4" }
div[data-distance="5"] { --distance: 5; --distance-as-string: "5" }
div[data-distance="6"] { --distance: 6; --distance-as-string: "6" }
div[data-distance="7"] { --distance: 7; --distance-as-string: "7" }
div[data-distance="8"] { --distance: 8; --distance-as-string: "8" }
div[data-distance="9"] { --distance: 9; --distance-as-string: "9" }
div[data-distance="10"] { --distance: 10; --distance-as-string: "10" }
div[data-distance="11"] { --distance: 11; --distance-as-string: "11" }
div[data-distance="12"] { --distance: 12; --distance-as-string: "12" }
div[data-distance="13"] { --distance: 13; --distance-as-string: "13" }
div[data-distance="14"] { --distance: 14; --distance-as-string: "14" }
div[data-distance="15"] { --distance: 15; --distance-as-string: "15" }
div[data-distance="16"] { --distance: 16; --distance-as-string: "16" }
div[data-distance="17"] { --distance: 17; --distance-as-string: "17" }
div[data-distance="18"] { --distance: 18; --distance-as-string: "18" }
div[data-distance="19"] { --distance: 19; --distance-as-string: "19" }
div[data-distance="20"] { --distance: 20; --distance-as-string: "20" }
div[data-distance="21"] { --distance: 21; --distance-as-string: "21" }
div[data-distance="22"] { --distance: 22; --distance-as-string: "22" }
div[data-distance="23"] { --distance: 23; --distance-as-string: "23" }
div[data-distance="24"] { --distance: 24; --distance-as-string: "24" }
div[data-distance="25"] { --distance: 25; --distance-as-string: "25" }
div[data-distance="26"] { --distance: 26; --distance-as-string: "26" }
div[data-distance="27"] { --distance: 27; --distance-as-string: "27" }
div[data-distance="28"] { --distance: 28; --distance-as-string: "28" }
div[data-distance="29"] { --distance: 29; --distance-as-string: "29" }
div[data-distance="30"] { --distance: 30; --distance-as-string: "30" }
div[data-distance="31"] { --distance: 31; --distance-as-string: "31" }
div[data-distance="32"] { --distance: 32; --distance-as-string: "32" }
div[data-distance="33"] { --distance: 33; --distance-as-string: "33" }
div[data-distance="34"] { --distance: 34; --distance-as-string: "34" }
div[data-distance="35"] { --distance: 35; --distance-as-string: "35" }
div[data-distance="36"] { --distance: 36; --distance-as-string: "36" }
div[data-distance="37"] { --distance: 37; --distance-as-string: "37" }
div[data-distance="38"] { --distance: 38; --distance-as-string: "38" }
div[data-distance="39"] { --distance: 39; --distance-as-string: "39" }
div[data-distance="40"] { --distance: 40; --distance-as-string: "40" }
div[data-distance="41"] { --distance: 41; --distance-as-string: "41" }
div[data-distance="42"] { --distance: 42; --distance-as-string: "42" }
div[data-distance="43"] { --distance: 43; --distance-as-string: "43" }
div[data-distance="44"] { --distance: 44; --distance-as-string: "44" }
div[data-distance="45"] { --distance: 45; --distance-as-string: "45" }
div[data-distance="46"] { --distance: 46; --distance-as-string: "46" }
div[data-distance="47"] { --distance: 47; --distance-as-string: "47" }
div[data-distance="48"] { --distance: 48; --distance-as-string: "48" }
div[data-distance="49"] { --distance: 49; --distance-as-string: "49" }
div[data-distance="50"] { --distance: 50; --distance-as-string: "50" }
div[data-distance="51"] { --distance: 51; --distance-as-string: "51" }
div[data-distance="52"] { --distance: 52; --distance-as-string: "52" }
div[data-distance="53"] { --distance: 53; --distance-as-string: "53" }
div[data-distance="54"] { --distance: 54; --distance-as-string: "54" }
div[data-distance="55"] { --distance: 55; --distance-as-string: "55" }
div[data-distance="56"] { --distance: 56; --distance-as-string: "56" }
div[data-distance="57"] { --distance: 57; --distance-as-string: "57" }
div[data-distance="58"] { --distance: 58; --distance-as-string: "58" }
div[data-distance="59"] { --distance: 59; --distance-as-string: "59" }
div[data-distance="60"] { --distance: 60; --distance-as-string: "60" }
div[data-distance="61"] { --distance: 61; --distance-as-string: "61" }
div[data-distance="62"] { --distance: 62; --distance-as-string: "62" }
div[data-distance="63"] { --distance: 63; --distance-as-string: "63" }
div[data-distance="64"] { --distance: 64; --distance-as-string: "64" }
div[data-distance="65"] { --distance: 65; --distance-as-string: "65" }
div[data-distance="66"] { --distance: 66; --distance-as-string: "66" }
div[data-distance="67"] { --distance: 67; --distance-as-string: "67" }
div[data-distance="68"] { --distance: 68; --distance-as-string: "68" }
div[data-distance="69"] { --distance: 69; --distance-as-string: "69" }
div[data-distance="70"] { --distance: 70; --distance-as-string: "70" }
div[data-distance="71"] { --distance: 71; --distance-as-string: "71" }
div[data-distance="72"] { --distance: 72; --distance-as-string: "72" }
div[data-distance="73"] { --distance: 73; --distance-as-string: "73" }
div[data-distance="74"] { --distance: 74; --distance-as-string: "74" }
div[data-distance="75"] { --distance: 75; --distance-as-string: "75" }
div[data-distance="76"] { --distance: 76; --distance-as-string: "76" }
div[data-distance="77"] { --distance: 77; --distance-as-string: "77" }
div[data-distance="78"] { --distance: 78; --distance-as-string: "78" }
div[data-distance="79"] { --distance: 79; --distance-as-string: "79" }
div[data-distance="80"] { --distance: 80; --distance-as-string: "80" }
div[data-distance="81"] { --distance: 81; --distance-as-string: "81" }
div[data-distance="82"] { --distance: 82; --distance-as-string: "82" }
div[data-distance="83"] { --distance: 83; --distance-as-string: "83" }
div[data-distance="84"] { --distance: 84; --distance-as-string: "84" }
div[data-distance="85"] { --distance: 85; --distance-as-string: "85" }
div[data-distance="86"] { --distance: 86; --distance-as-string: "86" }
div[data-distance="87"] { --distance: 87; --distance-as-string: "87" }
div[data-distance="88"] { --distance: 88; --distance-as-string: "88" }
div[data-distance="89"] { --distance: 89; --distance-as-string: "89" }
div[data-distance="90"] { --distance: 90; --distance-as-string: "90" }
div[data-distance="91"] { --distance: 91; --distance-as-string: "91" }
div[data-distance="92"] { --distance: 92; --distance-as-string: "92" }
div[data-distance="93"] { --distance: 93; --distance-as-string: "93" }
div[data-distance="94"] { --distance: 94; --distance-as-string: "94" }
div[data-distance="95"] { --distance: 95; --distance-as-string: "95" }
div[data-distance="96"] { --distance: 96; --distance-as-string: "96" }
div[data-distance="97"] { --distance: 97; --distance-as-string: "97" }
div[data-distance="98"] { --distance: 98; --distance-as-string: "98" }
div[data-distance="99"] { --distance: 99; --distance-as-string: "99" }
