div[data-distance="0"] { --distance: 0px; --distance-as-string: "0" }
div[data-distance="1"] { --distance: 1px; --distance-as-string: "1" }
div[data-distance="2"] { --distance: 2px; --distance-as-string: "2" }
div[data-distance="3"] { --distance: 3px; --distance-as-string: "3" }
div[data-distance="4"] { --distance: 4px; --distance-as-string: "4" }
div[data-distance="5"] { --distance: 5px; --distance-as-string: "5" }
div[data-distance="6"] { --distance: 6px; --distance-as-string: "6" }
div[data-distance="7"] { --distance: 7px; --distance-as-string: "7" }
div[data-distance="8"] { --distance: 8px; --distance-as-string: "8" }
div[data-distance="9"] { --distance: 9px; --distance-as-string: "9" }
div[data-distance="10"] { --distance: 10px; --distance-as-string: "10" }
div[data-distance="11"] { --distance: 11px; --distance-as-string: "11" }
div[data-distance="12"] { --distance: 12px; --distance-as-string: "12" }
div[data-distance="13"] { --distance: 13px; --distance-as-string: "13" }
div[data-distance="14"] { --distance: 14px; --distance-as-string: "14" }
div[data-distance="15"] { --distance: 15px; --distance-as-string: "15" }
div[data-distance="16"] { --distance: 16px; --distance-as-string: "16" }
div[data-distance="17"] { --distance: 17px; --distance-as-string: "17" }
div[data-distance="18"] { --distance: 18px; --distance-as-string: "18" }
div[data-distance="19"] { --distance: 19px; --distance-as-string: "19" }
div[data-distance="20"] { --distance: 20px; --distance-as-string: "20" }
div[data-distance="21"] { --distance: 21px; --distance-as-string: "21" }
div[data-distance="22"] { --distance: 22px; --distance-as-string: "22" }
div[data-distance="23"] { --distance: 23px; --distance-as-string: "23" }
div[data-distance="24"] { --distance: 24px; --distance-as-string: "24" }
div[data-distance="25"] { --distance: 25px; --distance-as-string: "25" }
div[data-distance="26"] { --distance: 26px; --distance-as-string: "26" }
div[data-distance="27"] { --distance: 27px; --distance-as-string: "27" }
div[data-distance="28"] { --distance: 28px; --distance-as-string: "28" }
div[data-distance="29"] { --distance: 29px; --distance-as-string: "29" }
div[data-distance="30"] { --distance: 30px; --distance-as-string: "30" }
div[data-distance="31"] { --distance: 31px; --distance-as-string: "31" }
div[data-distance="32"] { --distance: 32px; --distance-as-string: "32" }
div[data-distance="33"] { --distance: 33px; --distance-as-string: "33" }
div[data-distance="34"] { --distance: 34px; --distance-as-string: "34" }
div[data-distance="35"] { --distance: 35px; --distance-as-string: "35" }
div[data-distance="36"] { --distance: 36px; --distance-as-string: "36" }
div[data-distance="37"] { --distance: 37px; --distance-as-string: "37" }
div[data-distance="38"] { --distance: 38px; --distance-as-string: "38" }
div[data-distance="39"] { --distance: 39px; --distance-as-string: "39" }
div[data-distance="40"] { --distance: 40px; --distance-as-string: "40" }
div[data-distance="41"] { --distance: 41px; --distance-as-string: "41" }
div[data-distance="42"] { --distance: 42px; --distance-as-string: "42" }
div[data-distance="43"] { --distance: 43px; --distance-as-string: "43" }
div[data-distance="44"] { --distance: 44px; --distance-as-string: "44" }
div[data-distance="45"] { --distance: 45px; --distance-as-string: "45" }
div[data-distance="46"] { --distance: 46px; --distance-as-string: "46" }
div[data-distance="47"] { --distance: 47px; --distance-as-string: "47" }
div[data-distance="48"] { --distance: 48px; --distance-as-string: "48" }
div[data-distance="49"] { --distance: 49px; --distance-as-string: "49" }
div[data-distance="50"] { --distance: 50px; --distance-as-string: "50" }
div[data-distance="51"] { --distance: 51px; --distance-as-string: "51" }
div[data-distance="52"] { --distance: 52px; --distance-as-string: "52" }
div[data-distance="53"] { --distance: 53px; --distance-as-string: "53" }
div[data-distance="54"] { --distance: 54px; --distance-as-string: "54" }
div[data-distance="55"] { --distance: 55px; --distance-as-string: "55" }
div[data-distance="56"] { --distance: 56px; --distance-as-string: "56" }
div[data-distance="57"] { --distance: 57px; --distance-as-string: "57" }
div[data-distance="58"] { --distance: 58px; --distance-as-string: "58" }
div[data-distance="59"] { --distance: 59px; --distance-as-string: "59" }
div[data-distance="60"] { --distance: 60px; --distance-as-string: "60" }
div[data-distance="61"] { --distance: 61px; --distance-as-string: "61" }
div[data-distance="62"] { --distance: 62px; --distance-as-string: "62" }
div[data-distance="63"] { --distance: 63px; --distance-as-string: "63" }
div[data-distance="64"] { --distance: 64px; --distance-as-string: "64" }
div[data-distance="65"] { --distance: 65px; --distance-as-string: "65" }
div[data-distance="66"] { --distance: 66px; --distance-as-string: "66" }
div[data-distance="67"] { --distance: 67px; --distance-as-string: "67" }
div[data-distance="68"] { --distance: 68px; --distance-as-string: "68" }
div[data-distance="69"] { --distance: 69px; --distance-as-string: "69" }
div[data-distance="70"] { --distance: 70px; --distance-as-string: "70" }
div[data-distance="71"] { --distance: 71px; --distance-as-string: "71" }
div[data-distance="72"] { --distance: 72px; --distance-as-string: "72" }
div[data-distance="73"] { --distance: 73px; --distance-as-string: "73" }
div[data-distance="74"] { --distance: 74px; --distance-as-string: "74" }
div[data-distance="75"] { --distance: 75px; --distance-as-string: "75" }
div[data-distance="76"] { --distance: 76px; --distance-as-string: "76" }
div[data-distance="77"] { --distance: 77px; --distance-as-string: "77" }
div[data-distance="78"] { --distance: 78px; --distance-as-string: "78" }
div[data-distance="79"] { --distance: 79px; --distance-as-string: "79" }
div[data-distance="80"] { --distance: 80px; --distance-as-string: "80" }
div[data-distance="81"] { --distance: 81px; --distance-as-string: "81" }
div[data-distance="82"] { --distance: 82px; --distance-as-string: "82" }
div[data-distance="83"] { --distance: 83px; --distance-as-string: "83" }
div[data-distance="84"] { --distance: 84px; --distance-as-string: "84" }
div[data-distance="85"] { --distance: 85px; --distance-as-string: "85" }
div[data-distance="86"] { --distance: 86px; --distance-as-string: "86" }
div[data-distance="87"] { --distance: 87px; --distance-as-string: "87" }
div[data-distance="88"] { --distance: 88px; --distance-as-string: "88" }
div[data-distance="89"] { --distance: 89px; --distance-as-string: "89" }
div[data-distance="90"] { --distance: 90px; --distance-as-string: "90" }
div[data-distance="91"] { --distance: 91px; --distance-as-string: "91" }
div[data-distance="92"] { --distance: 92px; --distance-as-string: "92" }
div[data-distance="93"] { --distance: 93px; --distance-as-string: "93" }
div[data-distance="94"] { --distance: 94px; --distance-as-string: "94" }
div[data-distance="95"] { --distance: 95px; --distance-as-string: "95" }
div[data-distance="96"] { --distance: 96px; --distance-as-string: "96" }
div[data-distance="97"] { --distance: 97px; --distance-as-string: "97" }
div[data-distance="98"] { --distance: 98px; --distance-as-string: "98" }
div[data-distance="99"] { --distance: 99px; --distance-as-string: "99" }
